*{
    margin:0;
    box-sizing: border-box;
}

.trisGrid{
    position: absolute;
    top:100px;
    left:100px;
    display: flex;
    flex-direction: column;
    border: 10px solid #02040F;

}

.row{
    display: flex;
}

.col{
    width: 150px;
    height: 150px;
    border: 10px solid #02040F;
}

.gridBtn{
    display: block;
    width: 150px;
    height: 150px;
}

.player2{
    position: relative;
    width: 100px;
    height: 100px;
    left: 17px;
    top: 17px;
    border: 10px solid #E59500;
    border-radius: 50%;
}


.player1{
    position: relative;
    height: 125px;
    width: 125px;
    display: flex;
    flex-direction: column;
    top:30px;
    left:3px;
}

.player1::before,
.player1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 13px;
    border-radius: 7px;
    background-color: darkblue;
    top:30px;
    left:2px;
}

.player1::before {
    transform: rotate(45deg);
}

.player1::after {
    transform: rotate(-45deg);
}